{erl_opts, [debug_info]}.
{deps, [
    {klsn, {git, "https://github.com/ts-klassen/klsn.git", {tag, "1.26.0"}}}
  , {jsone, {git, "https://github.com/sile/jsone.git", {tag, "1.9.0"}}}
]}.

{profiles, [
    {test, [
        {erl_opts, [debug_info]},
        {extra_src_dirs, ["test"]}
    ]}
]}.

{pre_hooks, [
    {compile, "bash scripts/ensure_codex_binary.sh"}
]}.
